@theme-color: #fe5722;
@header-background-color: #fe5722

@button-primary-bg-color: #fe5722
@button-primary-active-bg-color: rgba('254,87,34,0.6')
@button-primary-disabled-bg-color: rgba('254,87,34,0.6')

@radio-checked-icon-color: #fe5722
@checkbox-icon-color-checked: #fe5722
